textarea { width: auto; height: auto; }

.left { float: left; }

.right { float: right; }

body.bp { line-height: 1.5; font-family: Helvetica Neue, Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body.bp .container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }

body, html { margin: 0; padding: 0; background-color: #111111; height: 100%; min-height: 100%; }

body { background-color: #111111; background: url(/images/logo.png) top center no-repeat; }

.splash img { display: block; margin: 50px auto 0 auto; }

#header a { color: #ffdd00; }
#header a:visited { color: #ffaa00; }

#header { display: inline; float: left; margin-right: 10px; width: 950px; background-color: #1144aa; margin-bottom: 10px; }
* html #header { overflow-x: hidden; }
#header .top-bar { height: 40px; font-size: 1.1em; padding: 0 20px; color: white; background-color: #001177; }
#header .top-bar .left, #header .top-bar .right { line-height: 30px; }
#header .top-bar .left { float: left; font: bold 20px Verdana; }
#header .top-bar .left a { text-decoration: none; color: white; }
#header .top-bar .right { text-align: right; float: none; }
#header .logo { display: inline; float: left; margin-right: 10px; width: 190px; float: left; }
* html #header .logo { overflow-x: hidden; }
#header .navigation { display: inline; float: left; margin-right: 0; width: 950px; float: left; background-color: #1144aa; height: 30px; }
* html #header .navigation { overflow-x: hidden; }
#header .navigation ul { float: left; text-align: left; list-style: none; margin: 0; }
#header .navigation ul li { float: left; line-height: 30px; padding: 0 10px; border-bottom: 4px solid white; background-color: #1144aa; }
#header .navigation ul li.current { background-color: #001177; border-bottom: 4px solid #001177; }
#header .navigation ul li:hover { background-color: #001177; cursor: pointer; }
#header .navigation ul li a { font-weight: bold; text-decoration: none; }
#header .navigation ul li a:visited { color: #ffdd00; }

form.general { padding: 5px; background: #efefef; border: 1px solid #e5e5e5; }
form.general ol { list-style: none; margin: 1em; }
form.general li { clear: left; }
form.general li input { margin: 0.1em 0 !important; }
form.general li input[type="checkbox"] { margin: 0.75em 0 0 0 !important; }
form.general li .fieldWithErrors { display: inline; }
form.general .indented { padding-left: 120px; margin: 0.5em 0; margin-left: -10px; }
form.general .indented input { padding: 3px 10px; background: #151515; border: 1px solid black; color: white; float: left; cursor: pointer; }
form.general label, form.general .label { display: inline; float: left; margin-right: 10px; width: 110px; font-size: 1.2em; margin: 0.5em 0; float: left; }
* html form.general label, * html form.general .label { overflow-x: hidden; }
form.general .label { margin: 0; font-weight: bold; }
form.general .title { font-size: 1.2em; }

.display-table { font-size: 1.2em; }
.display-table .section-header { clear: both; width: 100%; padding: 3px; background-color: #efefef; font-weight: bold; }
.display-table .left-col { margin-right: 15px; float: left; clear: left; overflow: hidden; }
.display-table .right-col { float: left; overflow: hidden; }
.display-table .separator { height: 0.6em; clear: both; }

#breadcrumbs { padding: 10px; font-size: 18px; }

form.bp .error h2 { font-size: 1.3em; }
form.bp .error p, form.bp .error ul { margin-bottom: 0.5em; }
form.bp select.title { font-size: 1.5em; }

.recent.sites .active-scaffold { display: inline; float: left; margin-right: 0; width: 230px; padding-left: 40px; }
* html .recent.sites .active-scaffold { overflow-x: hidden; }
.recent .active-scaffold { display: inline; float: left; margin-right: 10px; width: 670px; }
* html .recent .active-scaffold { overflow-x: hidden; }

#footer { display: inline; float: left; margin-right: 10px; width: 950px; height: 30px; background-color: #1144aa; margin-top: 20px; line-height: 30px; color: white; }
* html #footer { overflow-x: hidden; }
#footer .content { padding: 0 30px; }
