.home
  %h1
    %span About
  %p
    Jasmine Devonshire owns and operates Zie Creative, and brings to her work experience and expertise in branding, advertising, and editorial design. She holds a B.F.A. with distinction from the University of Victoria, Canada, and a professional certificate in graphic design from Shillington College, Australia. This combination of theoretical and technical training has allowed her to develop strong abilities in both
    conceptual thinking and creative problem-solving. Jasmine is adept in Adobe Creative Suite 5.5, design for print and web content, HTML5 and CSS authoring, digital illustration, photography, photo retouching and proofreading. Her passion is for contemporary, elegant design and typography and she strives for a clean, modern, on-trend aesthetic in all her work.
  %p
    Please see the contact page for information regarding inquiries or quotes.
