- #locals: section, current_image
.thumbnails
  - section.images.each do |image|
    = link_to(image_tag(image.thumbnail.url, :data => { :id => image.id, :path => image_path(image) }, :class => (image == current_image ? 'active' : ''), :alt => image.title))

:javascript
  $('.thumbnails img').bind('hover', { speed: 20, delay: 100 }, function(e) {
    if ($('.thumbnails img.active').data('id') != $(this).data('id')) {
      $('.thumbnails img').removeClass('active');
      $(this).addClass('active');
      $('.holder').load('/images/' + $(this).data('id'));
    }
  });

  $('.thumbnails img').click(function(e) {
    e.preventDefault();
    if ($('.thumbnails img.active').data('id') != $(this).data('id')) {
      $('.thumbnails img').removeClass('active');
      $(this).addClass('active');
      $('.holder').load('/images/' + $(this).data('id'));
    }
  });
