/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html {
  background-color: #b5d4de;
  color: black;
  height: 100%;
}

body {
  background-color: white;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  color: black;
  font-family: 'rokkitt', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: 'rokkitt', verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
}

a {
  color: #000;
  &:visited {
    color: #000; }
  &:hover { } }

div {
  &.field, &.actions, &.row {
    margin-bottom: 10px; } }

div.column {
  width: 150px;
  float: left;
  margin-right: 5px;
}

div.column label {
  float: right;
}

.admin_links {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0 30px 10px;
}

label {
  padding: 5px;
  background-color: #FDFFBF;
  vertical-align: top;
  text-align: right;
}

.wrapper {
  background-color: white;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -25px;
}

.push {
  clear: both;
  height: 25px;
}
