.header {
  height:  158px;
  border-bottom: 1px solid #888888;
  margin-bottom: 35px;
}

.logo {
  position: absolute;
  top: 34px;
  left: 22px;
  font-size: 70px;
}

.sparkle {
  position: absolute;
  top: 20px;
  right: 23px;
}

.home {
  float: left;
  width: 634px;

  &, p {
    font-size: 19px;
    color: #464646;
    line-height: 21px;
  }

  h1 {
    color: #000;
    font-size: 23px;
    font-weight: bold;
    margin-top: 1px;
    
    span {
      border-bottom: 1px solid #000;
    }
  }

  .contact {
    font-size: 23px;
    line-height: 32px;
    color: #555;

    b {
      color: #000;
    }
    
    a {
      text-decoration: none;
      color: #555;
    }
  }

  .social {
    padding-top: 41px;

    img {
      margin-bottom: 20px;
    }
  }

  .inspiration {
    font-size: 19px;
    line-height: 22px;
    color: #000;
    
    a {
      color: #313131;
      text-decoration: none;
    }

    a:hover {
      color: #189ebc;
    }
  }
}

.menu {
  width: 182px;
  float: left;
  font-size: 24px;
  line-height: 21px;
  padding-left: 28px;

  ol {
    list-style-type: none;
    padding: 0 5px 5px 5px;
    font-size: 24px;
    line-height: 25px;
    margin-top: 0;

    li {
      margin: 1px;
    }
  }

  ol.sections {
    margin: 0 0 0 25px;
    font-weight: normal;
    padding: 0;

    &, a {
      color: #555555;
    }
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.footer {
  text-align: right;
  font-size: 15px;
  margin: 0 32px 0 0;
  height: 25px;

  .spacer {
    font-size: 20px;
  }

  &, a {
    color: #636363;
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.coming_soon {
  padding-top: 200px;
  color: #00bee1;
  font-size: 30px;
  text-align: center;

  img {
    display: block;
    margin: 0 auto 15px auto;
  }
}
