.header {
  height:  150px;
  border-bottom: 1px solid #888888;
  margin-bottom: 35px;
}

.logo {
  position: absolute;
  top: 28px;
  left: 22px;
  font-size: 70px;
}

.sparkle {
  position: absolute;
  top: 12px;
  right: 23px;
}

.home {
  float: left;
  margin-left: 80px;
  width: 560px;
  background-color: #eee;
  padding: 0 20px 40px 20px;

  h1 {
    font-size: 2em;
    font-weight: bold;
  }
}

.menu {
  width: 182px;
  float: left;
  font-size: 24px;
  line-height: 21px;
  padding-left: 28px;

  ol {
    list-style-type: none;
    padding: 0 5px 5px 5px;
    font-size: 24px;
    line-height: 25px;
    margin-top: 0;

    li {
      margin: 1px;
    }
  }

  ol.sections {
    margin: 0 0 0 25px;
    font-weight: normal;
    padding: 0;

    &, a {
      color: #555555;
    }
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.footer {
  text-align: right;
  font-size: 15px;
  margin: 0 32px 0 0;
  height: 25px;

  .spacer {
    font-size: 20px;
  }

  &, a {
    color: #636363;
  }

  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
}

.coming_soon {
  padding-top: 200px;
  color: #00bee1;
  font-size: 30px;
  text-align: center;

  img {
    display: block;
    margin: 0 auto 15px auto;
  }
}
