// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.holder {
  margin: 0px 0 25px 10px;
  width: 500px;
  border: 1px solid black;
  float: left;

  .hero {
    margin: 0 auto;

    .slideshow {
      height: 100%;
      width: 100%;
      position: relative;

      .forward, .backward {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        z-index: 100;
        cursor: hand;
        cursor: pointer;

        &:hover {
          opacity: 0.3;
          filter: alpha(opacity=30);
        }
      }
      .forward {
        right: 0;
      }

      .backward {
        left: 0;
      }
    }

    img {
      width: 475px;
    }
  }

  .title, .description {
    font-size: 18pt;
    line-height: 17pt;
  }

  .title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin: 25px 0 0 0;
    border-top: 2px solid #888888;
  }

  .description {
    color: #363636;
  }
}

.thumbnails {
  width: 189px;
  margin: 0px 10px 10px 0px;
  float: left;

  img {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    margin: 15px;
  }

  img.active {

  }
}
