// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.holder {
  margin: 0px 32px 25px 0px;
  width: 560px;
  float: right;

  .hero {
    margin: 0 auto;

    .slideshow {
      height: 100%;
      width: 100%;
      position: relative;

      .forward, .backward {
        position: absolute;
        top: 0;
        height: 100%;
        width: 50%;
        z-index: 100;
        cursor: hand;
        cursor: pointer;

        &:hover {
          opacity: 0.3;
          filter: alpha(opacity=30);
        }
      }
      .forward {
        right: 0;
      }

      .backward {
        left: 0;
      }
    }

    img {
      width: 560px;
      border: 1px solid black;
    }
  }

  .info {
    border-top: 1px solid #888888;
    margin: 23px 0 0 0;
    padding-top: 10px;
  }

  .title, .description {
    font-size: 19px;
    line-height: 19px;
  }

  .title {
    color: black;
    font-weight: bold;
  }

  .description {
    color: #636363;
  }
}

.thumbnails {
  width: 180px;
  margin: 0px 0px 10px 0px;
  float: left;

  img {
    width: 68px;
    height: 68px;
    border: 2px solid black;
    margin: 0 15px 15px 0;
  }

  img.active {

  }
}
