// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ol.sections {
  list-style-type: none;
}

ol.sections strong {
  font-size: 1.3em;
  font-weight: bold;
}

ol.sections li {
  clear: left;
}

.images {
  margin: 20px;
}

.images {

  .image {
    margin: 10px 0 0 10px;
    float: left;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a.button {
    background-color: #00BEE1;
    color: white;
    padding: 5px;
  }
  
  img {
    border-bottom: 5px solid #fff;
    &:hover {
      border-bottom: 5px solid #00bee1;
    }
  }
}

a.action {
  text-decoration: none;
}

.clear {
  clear: left
}

.tools {
  display: inline;
  margin-left: 15px;
  font-size: 0.8em;
}

.thumbnails {
  width: 150px;
  margin: 0px 10px 10px 10px;
  float: left;
  
  img {
    width: 60px;
    height: 60px;
    margin: 5px;
  }
  
  img.active {
    margin: 0;
    border: 5px solid #00BEE1;
  }
}