-# locals: image
.holder
  .hero
    .slideshow
      .backward
      .forward
      = image_tag image.large.url
  .info
    %span.title
      = image.title
      \:
    %span.description
      = image.description

