%head
  %title
    ZieCreative
  %meta{ :name => "google-site-verification", :content => "QZIkxcyV-ZZLPsw9EIF44v5WWhFM6YBdes1p0JxmH-0" }
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Rokkitt'
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
