!!! 5
%html
  = render :partial => 'layouts/header'
  %body
    .wrapper
      .header
        .logo
          ZieCreative
        .sparkle
          Sparkle....
      = render :partial => 'layouts/admin_links'
      = yield
      .push
    .footer
      &copy ZieCreative

